In [1]:
import torch
# GPUの名称、CUDA Compute Capabilityを取得
print(torch.cuda.get_device_name())

NVIDIA GeForce RTX 2080 Ti

In [2]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree
from sklearn.datasets import make_moons

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')


from Modules import Modules
from Baseline import Baseline
from FeatureEngineering2 import FeatureEngineering2


%matplotlib inline

print("OK\n")

OK

## インスタンス生成

In [3]:
baseline = Baseline('SK_ID_CURR')
modules = Modules('SK_ID_CURR')
FeatureEngineering2 = FeatureEngineering2('SK_ID_CURR')

## 特徴量生成

In [4]:
### application
df = FeatureEngineering2.application()
df.head()

"Application_Train_Test" final shape: (356250, 309)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,APP_EXT_SOURCE_2*DAYS_EMPLOYED,APP_EXT_SOURCE_3*DAYS_EMPLOYED,APPS_GOODS_INCOME_RATIO,APPS_CNT_FAM_INCOME_RATIO,APPS_INCOME_EMPLOYED_RATIO,CREDIT_TO_GOODS_RATIO_2,APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio,APP_INCOME_TO_EMPLOYED_RATIO,APP_DAYS_LAST_PHONE_CHANGE_DAYS_EMPLOYED_ratio,APP_DAYS_EMPLOYED_DAYS_BIRTH_diff
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,-167.498254,-88.782372,1.733333,202500.0,-317.896389,1.158397,-7825.5,-317.896389,1.780220,8824.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,-739.227981,NaN,4.183333,135000.0,-227.272727,1.145199,-13198.5,-227.272727,0.696970,15577.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,-125.080219,-164.152505,2.000000,67500.0,-300.000000,1.000000,-1125.0,-300.000000,3.622222,18821.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,-1976.692297,NaN,2.200000,67500.0,-44.422507,1.052803,-18436.5,-44.422507,0.203027,15966.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,-980.478916,NaN,4.222222,121500.0,-39.993417,1.000000,-11740.5,-39.993417,0.364055,16894.0

In [5]:
### bureau_balance
df = df.merge(FeatureEngineering2.bureau_bb(), how='left', on='SK_ID_CURR')
df.head()

"Bureau/Bureau Balance" final shape: (305811, 200)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MIN,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MAX,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MEAN,CLOSED_DEBT_CREDIT_DIFF_MIN,CLOSED_DEBT_CREDIT_DIFF_MAX,CLOSED_DEBT_CREDIT_DIFF_MEAN,CLOSED_BUREAU_IS_DPD_MEAN,CLOSED_BUREAU_IS_DPD_SUM,CLOSED_BUREAU_IS_DPD_OVER120_MEAN,CLOSED_BUREAU_IS_DPD_OVER120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,135000.0,85245.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,22248.0,112500.0,69133.5,0.0,0.0,0.0,0.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,94500.0,94537.8,94518.9,0.0,0.0,0.0,0.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,146250.0,146250.0,146250.0,0.0,0.0,0.0,0.0

In [6]:
### previos_application
df = df.merge(FeatureEngineering2.previous_application(), how='left', on='SK_ID_CURR')
df.head()

"Previous Applications" final shape: (338857, 321)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,REFUSED_PREV_GOODS_DIFF_MEAN,REFUSED_PREV_GOODS_DIFF_MAX,REFUSED_PREV_GOODS_DIFF_SUM,REFUSED_PREV_GOODS_APPL_RATIO_MEAN,REFUSED_PREV_GOODS_APPL_RATIO_MAX,REFUSED_DAYS_LAST_DUE_DIFF_MEAN,REFUSED_DAYS_LAST_DUE_DIFF_MAX,REFUSED_DAYS_LAST_DUE_DIFF_SUM,REFUSED_SIMPLE_INTERESTS_MEAN,REFUSED_SIMPLE_INTERESTS_MAX
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,1.0,1.0,NaN,NaN,0.0,0.015231,0.015231
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
### pos_cash
df = df.merge(FeatureEngineering2.pos_cash(), how='left', on='SK_ID_CURR')
df.head()

"Pos-Cash" balance final shape: (337252, 46)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_nan_MEAN,POS_COUNT,POS_LOAN_COMPLETED_MEAN,POS_COMPLETED_BEFORE_MEAN,POS_REMAINING_INSTALMENTS,POS_REMAINING_INSTALMENTS_RATIO,LATE_PAYMENT_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.000000,0.000000,0.0,0.0,19.0,0.000000,0.0,6.0,0.250000,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.000000,0.000000,0.0,0.0,28.0,0.250000,1.0,1.0,0.083333,0.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.000000,0.000000,0.0,0.0,4.0,0.250000,1.0,0.0,0.000000,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.047619,0.000000,0.0,0.0,21.0,0.458333,2.0,3.0,0.250000,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.000000,0.015152,0.0,0.0,66.0,0.209402,1.0,14.0,0.641667,0.0

In [8]:
### instllment_payment
df = df.merge(FeatureEngineering2.installment(), how='left', on='SK_ID_CURR')
df.head()

"Installments Payments" final shape: (339587, 85)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INS_D365PAYMENT_PERC_MAX,INS_D365DPD_DIFF_MEAN,INS_D365DPD_DIFF_MIN,INS_D365DPD_DIFF_MAX,INS_D365DPD_MEAN,INS_D365DPD_SUM,INS_D365INS_IS_DPD_UNDER_120_MEAN,INS_D365INS_IS_DPD_UNDER_120_SUM,INS_D365INS_IS_DPD_OVER_120_MEAN,INS_D365INS_IS_DPD_OVER_120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1.0,-17.363636,-24.0,-12.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,1.0,-6.181818,-23.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,1.0,-2.250000,-4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
### credit_card_balance
df = df.merge(FeatureEngineering2.credit_card(), how='left', on='SK_ID_CURR')
df.head()

"Credit Card Balance" final shape: (103558, 284)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INS_48M_SK_DPD_MAX,INS_48M_SK_DPD_SUM,INS_48M_DRAWING_LIMIT_RATIO_MIN,INS_48M_DRAWING_LIMIT_RATIO_MAX,INS_48M_LATE_PAYMENT_MEAN,INS_48M_LATE_PAYMENT_SUM,INS_48M_CARD_IS_DPD_UNDER_120_MEAN,INS_48M_CARD_IS_DPD_UNDER_120_SUM,INS_48M_CARD_IS_DPD_OVER_120_MEAN,INS_48M_CARD_IS_DPD_OVER_120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
### 
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1243 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1199 features are remained after removing non-informative features
311 features are eliminated by LightGBM classifier with an 0.78 auc score limit in step I
---=> 888 features are remained after removing features not interesting for LightGBM classifier
---=> 34 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 922 features
==================================================

---=> df final shape: (356250, 922)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_CNT_CREDIT_PROLONG_SUM_high_risk,ACTIVE_CNT_CREDIT_PROLONG_SUM_low_risk,ACTIVE_BUREAU_IS_DPD_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,1,1,1,1,0,1,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,1,1,1,1,0,0,1,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,0,1,0,0,1,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,0,1,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,0,1,0,0,1,0,0

## 学習

### 001 baseline

In [11]:
# split train, and test datasets
app_train = df[df['TARGET'].notnull()]
app_test = df[df['TARGET'].isnull()]

print(app_test.shape)
app_test.head()

(48744, 922)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_CNT_CREDIT_PROLONG_SUM_high_risk,ACTIVE_CNT_CREDIT_PROLONG_SUM_low_risk,ACTIVE_BUREAU_IS_DPD_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
307506,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,1,1,1,0,1,0,0,0
307507,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,1,1,1,0,0,1,0,0
307508,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0,0,0,1,0,0,1,1,0
307509,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,1,1,1,0,0,1,1,0
307510,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,1,0,1,0,0,0

In [12]:
app_train = app_train.replace([np.inf, -np.inf], np.nan)
app_train = app_train.fillna(app_train.max() + (app_train.max() * 0.4))
app_train.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_CNT_CREDIT_PROLONG_SUM_high_risk,ACTIVE_CNT_CREDIT_PROLONG_SUM_low_risk,ACTIVE_BUREAU_IS_DPD_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,1,1,1,1,0,1,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,1,1,1,1,0,0,1,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,0,1,0,0,1,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,0,1,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,0,1,0,0,1,0,0

In [13]:
app_test = app_test.replace([np.inf, -np.inf], np.nan)
app_test = app_test.fillna(app_test.max() + (app_test.max() * 0.4))
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_CNT_CREDIT_PROLONG_SUM_high_risk,ACTIVE_CNT_CREDIT_PROLONG_SUM_low_risk,ACTIVE_BUREAU_IS_DPD_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
307506,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,1,1,1,0,1,0,0,0
307507,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,1,1,1,0,0,1,0,0
307508,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0,0,0,1,0,0,1,1,0
307509,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,1,1,1,0,0,1,1,0
307510,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,1,0,1,0,0,0

In [14]:
### 処理対象の列名を配列化
encoding_columns = list(app_test.select_dtypes(include='number').columns)    
encoding_columns.remove('SK_ID_CURR')
encoding_columns.remove('TARGET')

In [15]:
### indexを設定
app_train = app_train.set_index('SK_ID_CURR')
app_test = app_test.set_index('SK_ID_CURR')
app_test.head()

,index,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,ACTIVE_CNT_CREDIT_PROLONG_SUM_high_risk,ACTIVE_CNT_CREDIT_PROLONG_SUM_low_risk,ACTIVE_BUREAU_IS_DPD_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,0,NaN,1,0,0,0,135000.0,568800.0,20560.5,450000.0,...,1,1,1,1,1,0,1,0,0,0
100005,1,NaN,0,0,0,0,99000.0,222768.0,17370.0,180000.0,...,1,1,1,1,1,0,0,1,0,0
100013,2,NaN,0,1,0,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,1,0,0,1,1,0
100028,3,NaN,1,0,0,2,315000.0,1575000.0,49018.5,1575000.0,...,1,1,1,1,1,0,0,1,1,0
100038,4,NaN,0,1,1,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,1,0,1,0,0,0

In [16]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(app_train, app_test, num_cols)
        
app_test.head()

,index,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,ACTIVE_CNT_CREDIT_PROLONG_SUM_high_risk,ACTIVE_CNT_CREDIT_PROLONG_SUM_low_risk,ACTIVE_BUREAU_IS_DPD_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1.732065,NaN,0.720379,-0.717912,-0.664539,-0.577531,-0.307114,-0.075104,-0.448077,-0.232482,...,0.646114,0.670953,0.645083,0.661546,0.245284,0.0,0.946577,-0.840113,-0.498057,0.0
100005,-1.732054,NaN,-1.388158,-0.717912,-0.664539,-0.577531,-0.637959,-0.934826,-0.665962,-0.907160,...,0.646114,0.670953,0.645083,0.661546,0.245284,0.0,-1.056438,1.190317,-0.498057,0.0
100013,-1.732043,NaN,-1.388158,1.392928,-0.664539,-0.577531,0.313221,0.159594,2.913009,0.217303,...,-1.547714,-1.490416,-1.550188,-1.511612,0.245284,0.0,-1.056438,1.190317,2.007802,0.0
100028,-1.732031,NaN,0.720379,-0.717912,-0.664539,2.192099,1.347112,2.424818,1.495373,2.578675,...,0.646114,0.670953,0.645083,0.661546,0.245284,0.0,-1.056438,1.190317,2.007802,0.0
100038,-1.732020,NaN,-1.388158,1.392928,1.504802,0.807284,0.106443,0.065768,0.337723,0.206059,...,-1.547714,-1.490416,-1.550188,-1.511612,0.245284,0.0,0.946577,-0.840113,-0.498057,0.0

In [17]:
### indexを削除
app_train = app_train.reset_index()
app_test = app_test.reset_index()
app_test.head()

,SK_ID_CURR,index,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_CNT_CREDIT_PROLONG_SUM_high_risk,ACTIVE_CNT_CREDIT_PROLONG_SUM_low_risk,ACTIVE_BUREAU_IS_DPD_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,100001,-1.732065,NaN,0.720379,-0.717912,-0.664539,-0.577531,-0.307114,-0.075104,-0.448077,...,0.646114,0.670953,0.645083,0.661546,0.245284,0.0,0.946577,-0.840113,-0.498057,0.0
1,100005,-1.732054,NaN,-1.388158,-0.717912,-0.664539,-0.577531,-0.637959,-0.934826,-0.665962,...,0.646114,0.670953,0.645083,0.661546,0.245284,0.0,-1.056438,1.190317,-0.498057,0.0
2,100013,-1.732043,NaN,-1.388158,1.392928,-0.664539,-0.577531,0.313221,0.159594,2.913009,...,-1.547714,-1.490416,-1.550188,-1.511612,0.245284,0.0,-1.056438,1.190317,2.007802,0.0
3,100028,-1.732031,NaN,0.720379,-0.717912,-0.664539,2.192099,1.347112,2.424818,1.495373,...,0.646114,0.670953,0.645083,0.661546,0.245284,0.0,-1.056438,1.190317,2.007802,0.0
4,100038,-1.732020,NaN,-1.388158,1.392928,1.504802,0.807284,0.106443,0.065768,0.337723,...,-1.547714,-1.490416,-1.550188,-1.511612,0.245284,0.0,0.946577,-0.840113,-0.498057,0.0

In [18]:
x_train = app_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train['TARGET']
id_train = app_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [19]:
# データセット作成
x_test = app_test.drop(columns=['SK_ID_CURR', 'TARGET'])
id_test = app_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [20]:
from keras.callbacks import EarlyStopping

y_preds = []
models = []
scores = []
oof_train = np.zeros((len(x_train),))
cv = KFold(n_splits=5, shuffle=True, random_state=0)


for fold_id, (train_index, valid_index) in enumerate(cv.split(x_train)):
    tr_x = x_train.loc[train_index, :]
    va_x = x_train.loc[valid_index, :]
    tr_y = y_train[train_index]
    va_y = y_train[valid_index]
    
    scaler = StandardScaler()
    tr_x = scaler.fit_transform(tr_x)
    va_x = scaler.transform(va_x)
    test_x = scaler.transform(x_test)
    
    model = Sequential()
    model.add(Dense(
        256
        ,activation = 'relu'
        ,input_shape=(x_train.shape[1],)
    ))
    
    model.add(Dropout(0.2))
    model.add(Dense(256, activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(1, activation='sigmoid'))
   
    model.compile(loss='binary_crossentropy',
                 optimizer='adam', metrics=['accuracy'])
    
    # 学習の実行
    batch_size = 128
    epochs = 10
    early_stopping = EarlyStopping(monitor='val_loss', patience=20, restore_best_weights=True)
    
    history = model.fit(tr_x, tr_y,
                    batch_size=batch_size
                    ,epochs=epochs
                    ,verbose=1
                    ,validation_split=0.
                    ,validation_data=(va_x, va_y)
                    ,callbacks=[early_stopping]
                    )
    
    va_pred = model.predict(va_x)
    y_pred = model.predict(test_x)
    score = log_loss(va_y, va_pred, eps=1e-7)
    print(f'logloss:{score:.4f}')

    y_preds.append(y_pred)
    models.append(model)
    scores.append(score)

Epoch 1/10
1922/1922 [==============================] - 7s 3ms/step - loss: 0.2597 - accuracy: 0.9184 - val_loss: 0.2470 - val_accuracy: 0.9203
Epoch 2/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2494 - accuracy: 0.9191 - val_loss: 0.2436 - val_accuracy: 0.9205
Epoch 3/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2470 - accuracy: 0.9192 - val_loss: 0.2409 - val_accuracy: 0.9205
Epoch 4/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2460 - accuracy: 0.9194 - val_loss: 0.2395 - val_accuracy: 0.9206
Epoch 5/10
1922/1922 [==============================] - 5s 2ms/step - loss: 0.2448 - accuracy: 0.9194 - val_loss: 0.2395 - val_accuracy: 0.9209
Epoch 6/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2433 - accuracy: 0.9195 - val_loss: 0.2438 - val_accuracy: 0.9206
Epoch 7/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2424 - accuracy: 0.9195 - val_loss: 0.2404 - val_accuracy: 0.9205
Epoch 8/10
1922/1922 [==============================] - 5s 2ms/step - loss: 0.2414 - accuracy: 0.9200 - val_loss: 0.2391 - val_accuracy: 0.9207
Epoch 9/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2410 - accuracy: 0.9200 - val_loss: 0.2434 - val_accuracy: 0.9208
Epoch 10/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2395 - accuracy: 0.9203 - val_loss: 0.2392 - val_accuracy: 0.9205
1922/1922 [==============================] - 2s 765us/step
1524/1524 [==============================] - 1s 752us/step
logloss:0.2392
Epoch 1/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2570 - accuracy: 0.9189 - val_loss: 0.2529 - val_accuracy: 0.9177
Epoch 2/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2476 - accuracy: 0.9198 - val_loss: 0.2501 - val_accuracy: 0.9178
Epoch 3/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2453 - accuracy: 0.9199 - val_loss: 0.2537 - val_accuracy: 0.9179
Epoch 4/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2440 - accuracy: 0.9199 - val_loss: 0.2457 - val_accuracy: 0.9179
Epoch 5/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2431 - accuracy: 0.9198 - val_loss: 0.2467 - val_accuracy: 0.9177
Epoch 6/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2420 - accuracy: 0.9203 - val_loss: 0.2454 - val_accuracy: 0.9179
Epoch 7/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2404 - accuracy: 0.9205 - val_loss: 0.2467 - val_accuracy: 0.9176
Epoch 8/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2398 - accuracy: 0.9205 - val_loss: 0.2467 - val_accuracy: 0.9177
Epoch 9/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2389 - accuracy: 0.9208 - val_loss: 0.2466 - val_accuracy: 0.9176
Epoch 10/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2381 - accuracy: 0.9209 - val_loss: 0.2462 - val_accuracy: 0.9177
1922/1922 [==============================] - 2s 820us/step
1524/1524 [==============================] - 1s 809us/step
logloss:0.2462
Epoch 1/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2583 - accuracy: 0.9184 - val_loss: 0.2426 - val_accuracy: 0.9207
Epoch 2/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2488 - accuracy: 0.9192 - val_loss: 0.2448 - val_accuracy: 0.9209
Epoch 3/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2470 - accuracy: 0.9193 - val_loss: 0.2445 - val_accuracy: 0.9202
Epoch 4/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2454 - accuracy: 0.9193 - val_loss: 0.2424 - val_accuracy: 0.9207
Epoch 5/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2441 - accuracy: 0.9194 - val_loss: 0.2442 - val_accuracy: 0.9205
Epoch 6/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2430 - accuracy: 0.9196 - val_loss: 0.2398 - val_accuracy: 0.9208
Epoch 7/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2426 - accuracy: 0.9197 - val_loss: 0.2405 - val_accuracy: 0.9207
Epoch 8/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2409 - accuracy: 0.9196 - val_loss: 0.2412 - val_accuracy: 0.9210
Epoch 9/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2403 - accuracy: 0.9200 - val_loss: 0.2397 - val_accuracy: 0.9210
Epoch 10/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2390 - accuracy: 0.9202 - val_loss: 0.2394 - val_accuracy: 0.9206
1922/1922 [==============================] - 2s 812us/step
1524/1524 [==============================] - 1s 789us/step
logloss:0.2394
Epoch 1/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2581 - accuracy: 0.9189 - val_loss: 0.2475 - val_accuracy: 0.9184
Epoch 2/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2476 - accuracy: 0.9196 - val_loss: 0.2475 - val_accuracy: 0.9184
Epoch 3/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2457 - accuracy: 0.9199 - val_loss: 0.2461 - val_accuracy: 0.9188
Epoch 4/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2443 - accuracy: 0.9198 - val_loss: 0.2477 - val_accuracy: 0.9186
Epoch 5/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2433 - accuracy: 0.9200 - val_loss: 0.2464 - val_accuracy: 0.9186
Epoch 6/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2417 - accuracy: 0.9203 - val_loss: 0.2449 - val_accuracy: 0.9183
Epoch 7/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2411 - accuracy: 0.9202 - val_loss: 0.2461 - val_accuracy: 0.9186
Epoch 8/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2399 - accuracy: 0.9204 - val_loss: 0.2451 - val_accuracy: 0.9188
Epoch 9/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2395 - accuracy: 0.9204 - val_loss: 0.2467 - val_accuracy: 0.9183
Epoch 10/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2381 - accuracy: 0.9205 - val_loss: 0.2456 - val_accuracy: 0.9186
1922/1922 [==============================] - 1s 753us/step
1524/1524 [==============================] - 1s 739us/step
logloss:0.2456
Epoch 1/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2577 - accuracy: 0.9187 - val_loss: 0.2454 - val_accuracy: 0.9196
Epoch 2/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2484 - accuracy: 0.9193 - val_loss: 0.2483 - val_accuracy: 0.9197
Epoch 3/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2458 - accuracy: 0.9195 - val_loss: 0.2535 - val_accuracy: 0.9201
Epoch 4/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2448 - accuracy: 0.9196 - val_loss: 0.2489 - val_accuracy: 0.9200
Epoch 5/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2431 - accuracy: 0.9197 - val_loss: 0.2433 - val_accuracy: 0.9201
Epoch 6/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2424 - accuracy: 0.9196 - val_loss: 0.2441 - val_accuracy: 0.9190
Epoch 7/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2414 - accuracy: 0.9198 - val_loss: 0.2436 - val_accuracy: 0.9197
Epoch 8/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2406 - accuracy: 0.9200 - val_loss: 0.2432 - val_accuracy: 0.9201
Epoch 9/10
1922/1922 [==============================] - 5s 3ms/step - loss: 0.2392 - accuracy: 0.9202 - val_loss: 0.2433 - val_accuracy: 0.9196
Epoch 10/10
1922/1922 [==============================] - 6s 3ms/step - loss: 0.2384 - accuracy: 0.9202 - val_loss: 0.2436 - val_accuracy: 0.9201
1922/1922 [==============================] - 2s 916us/step
1524/1524 [==============================] - 1s 753us/step
logloss:0.2434

In [21]:
scores

[0.23915653598062753,
 0.24617152903168013,
 0.2393940976096572,
 0.2456062314856944,
 0.24340068877562507]

In [22]:
# CSV-00
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[0]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_00.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [23]:
# CSV-01
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[1]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_01.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [24]:
# CSV-02
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[2]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_02.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [25]:
# CSV-03
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[3]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_03.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [26]:
# CSV-04
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[4]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_04.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [27]:
submit_all_00 = pd.read_csv('./home-credit-default-risk/submit/submit_all_00.csv')
submit_all_01 = pd.read_csv('./home-credit-default-risk/submit/submit_all_01.csv')
submit_all_02 = pd.read_csv('./home-credit-default-risk/submit/submit_all_02.csv')
submit_all_03 = pd.read_csv('./home-credit-default-risk/submit/submit_all_03.csv')
submit_all_04 = pd.read_csv('./home-credit-default-risk/submit/submit_all_04.csv')

In [28]:
submit_all = pd.DataFrame({
    'submit_all_00': submit_all_00['TARGET'].values
    ,'submit_all_01': submit_all_01['TARGET'].values
    ,'submit_all_02': submit_all_02['TARGET'].values
    ,'submit_all_03': submit_all_03['TARGET'].values
    ,'submit_all_04': submit_all_04['TARGET'].values
    })
submit_all.head()

   submit_all_00  submit_all_01  submit_all_02  submit_all_03  submit_all_04
0       0.075758       0.081534       0.073701       0.101474       0.065943
1       0.222979       0.199235       0.229159       0.191115       0.233373
2       0.028163       0.031514       0.026824       0.021355       0.033825
3       0.034262       0.046459       0.046139       0.029790       0.043173
4       0.229504       0.190960       0.182237       0.198049       0.199307

In [29]:
submit_all = app_test[["SK_ID_CURR"]].astype(int).copy()
submit_all['TARGET'] = (submit_all_00['TARGET'] + submit_all_01['TARGET'] + submit_all_02['TARGET'] + submit_all_03['TARGET'] + submit_all_04['TARGET'])/5
submit_all.head()

   SK_ID_CURR    TARGET
0      100001  0.079682
1      100005  0.215172
2      100013  0.028336
3      100028  0.039965
4      100038  0.200011

In [30]:
submit_all['TARGET'] = (submit_all['TARGET'] / 5)
submit_all.to_csv('./home-credit-default-risk/submit/submission_FeatureEngineeringOtherSourceKeras_1-1.csv', index=False)
submit_all.head()

   SK_ID_CURR    TARGET
0      100001  0.015936
1      100005  0.043034
2      100013  0.005667
3      100028  0.007993
4      100038  0.040002